@model SimpLeX_Frontend.Models.ProjectViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Editor Custom StyleSheet -->
    <link rel="stylesheet" href="~/css/editor_stylesheet.css">
    
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
<div class="editor-header">
    <div class="left-buttons">
        <button class="menu-btn">Menu</button>
        <button class="home-btn" onclick="location.href='@Url.Action("GoHome", "Editor")'">Home</button>
    </div>
    <h1 class="project-title">@ViewData["Title"]</h1>
    <div class="right-buttons">
        <button class="share-btn">Share</button>
        <button class="chat-btn">Chat</button>
    </div>
</div>

<div class="editor-container">
    @Html.AntiForgeryToken()
    <input type="hidden" id="projectId" name="projectId" value="@Model.ProjectId"/>
    <div id='projectData' data-latexcode='@Model.LatexCode' data-workspacestate='@Html.Raw(Model.WorkspaceState)' style='display: none;'></div>
    
    <div id="quill-editor"></div>
    <div id="blocklyDiv"></div>
    <xml id="toolbox">
        <category name="Configurations" colour="60">
            <block type="document_configuration"></block>
            <block type="table_of_contents"></block>
            <block type="list_of_figures"></block>
            <block type="list_of_tables"></block>
            <block type="add_bibliography"></block>
        </category>
        <category name="Document Structure" colour="230">
            
            <block type="chapter"></block>
            <block type="section"></block>
            <block type="subsection"></block>
            <block type="subsubsection"></block>
            <block type="new_page"></block>
        </category>
        <category name="Text" colour="160">
            <block type="text_input_block"></block>
            <block type="rich_text"></block>
        </category>
        <category name="Lists" colour="260">
            <block type="latex_item"></block>
            <block type="latex_itemize_list"></block>
            <block type="latex_enumerate_list"></block>
            <block type="latex_alph_list"></block>
            <block type="latex_description_list"></block>
            <block type="latex_description_item"></block>
        </category>
    </xml>
    <div class="pdf-viewer" id="pdf-viewer">
        <!-- Display PDF if available -->
        <iframe class="pdfDisplay" id="pdfDisplay" style="width:100%;height:100%;" frameborder="0"></iframe>
    </div>
    
    <!-- Chat Window Container -->
    <div id="chat-window" class="chat-window" style="display:none;">
        <div class="chat-content">
            <!-- messages here pls -->
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message..." />
            <button>Send</button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- Blockly JavaScript -->
<!-- Include Quill library -->
<script type="module" src="/js/Editor/EditorMain.js"></script>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script src="/js/Blockly/latex_blocks.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/Editor/ChatLogic.js"></script>
</body>
</html>
