@model IEnumerable<SimpLeX_Frontend.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Your Projects";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link href="~/css/project_stylesheet.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="projects-container">
    <img src="~/images/simplex_logo.png" alt="Simplex Logo" class="simplex-logo"/>
    
    <!-- The Modal Trigger/Open Button -->
    <button id="createProjectBtn" class="new-project-btn">Create Project</button>
    
    @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    
    <!-- Create Project Modal -->
    <div id="createProjectModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="~/images/simplex_logo.png" alt="Simplex Logo" class="modal-logo"/>
            <form asp-action="CreateProject" asp-controller="Project" method="post" class="modal-form">
                <div class="form-group">
                    <label for="projectTitle" class="modal-label">Title</label>
                    <input type="text" id="projectTitle" name="title" class="modal-input" placeholder="Enter title">
                </div>
    
                <div class="form-group">
                    <label for="template" class="modal-label">Template</label>
                    <button type="button" id="browseTemplates" class="browse-templates-btn">Browse Templates</button>
                    <p class="current-template">Current template: None</p>
                </div>
                
                <input type="hidden" id="templateXMLContent" name="WorkspaceState">
          
                <button type="submit" class="create-project-btn">Create Project</button>
            </form>
        </div>
    </div>
    
    <!-- Template Selection Modal -->
    <div id="templateSelectionModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Select a Template</h2>
            <div class="template-switch">
                <button id="globalTemplatesBtn" class="toggle-btn active">Global Templates</button>
                <button id="customTemplatesBtn" class="toggle-btn">Custom Templates</button>
            </div>
            <div class="template-gallery">
                <!-- Templates will be injected here -->
            </div>
        </div>
    </div>


    
    <div id="copyProjectModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form asp-action="CopyProject" asp-controller="Project" method="post" class="modal-form">
                <span class="close closeCopy">&times;</span>
                <h3>Copy Project</h3>
                <p>Enter a new name for your project copy:</p>
                <input type="text" id="newProjectName" name="title" class="modal-input" placeholder="New Project Name">
                <!-- Hidden input for storing original project ID -->
                <input type="hidden" name="projectId" id="originalProjectId">
                <button type="submit" id="confirmCopyBtn" class="copy-btn">Copy</button>
                <button type="button" class="cancel-btn" onclick="closeCopyModal()">Cancel</button>
            </form>
        </div>
    </div>
    
    
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Are you sure you want to delete this project?</h3>
            <p id="deleteProjectName"></p>
            <button id="confirmDeleteBtn" class="delete-btn">Delete</button>
            <button class="cancel-btn" onclick="document.getElementById('deleteConfirmationModal').style.display='none'">Cancel</button>
        </div>
    </div>
    
    <div id="leaveConfirmationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Are you sure you want to leave this project?</h3>
                <p id="leaveProjectName"></p>
                <button id="confirmLeaveBtn" class="delete-btn">Delete</button>
                <button class="cancel-btn" onclick="document.getElementById('leaveConfirmationModal').style.display='none'">Cancel</button>
            </div>
        </div>
    
    <h2>All Projects</h2>
    
    <table class="projects-table">
        <thead>
        <tr>
            <th class="title-column">Title</th>
            <th class="other-column">Owner</th>
            <th class="other-column">Last Modified</th>
            <th class="other-column actions-column">Actions</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach(var project in Model.OrderByDescending(p => p.LastModifiedDate))
        {
            <tr>
                <td class="title-column">
                    <a href="@Url.Action("Edit", "Editor", new { projectId = project.ProjectId })" class="brown-link">@project.Title</a>
                </td>
                <td class="other-column">@project.Owner</td>
                <td class="other-column">@project.LastModifiedDate.ToString("g")</td>
                <td class="actions-column">
                    <!-- Actions like Copy, Export PDF/TeX -->
                    <button type="button" class="icon" data-hover-text="Copy Project" onclick="openCopyModal('@project.Title', '@project.ProjectId')">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button type="button" class="icon" data-hover-text="Export as PDF" onclick="location.href='@Url.Action("ExportAsPDF", "Project", new { projectId = project.ProjectId })'">
                        <i class="fas fa-file-pdf"></i>
                    </button>
                    <button type="button" class="icon" data-hover-text="Export as TeX" onclick="location.href='@Url.Action("ExportAsTeX", "Project", new { projectId = project.ProjectId })'">
                        <i class="fas fa-file-code"></i>
                    </button>
        
                    <!-- Conditional Display for Leave/Delete based on whether the current user is the owner -->
                    @if (project.UserId == ViewData["CurrentUserId"].ToString())
                    {
                        <button type="button" class="icon delete-icon" data-hover-text="Delete Project" data-project-id="@project.ProjectId" data-project-name="@project.Title" onclick="confirmDelete('@project.ProjectId', '@project.Title')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="icon leave-icon" data-hover-text="Leave Project" data-project-id="@project.ProjectId" onclick="leaveProject('@project.ProjectId', '@project.Title')">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script src="~/js/project_scripts.js"></script>
</body>
</html>
